<form action="/place/create "method="POST" >
  <label for="name-input">Place Name</label>
  <input id="name-input" type="text name="name" placeholder="Place Name"">
  
  <label for="locatio">Place Location</label>
  <input type="text name="name" placeholder="Place Location"">

  <button>Create Place</button>
</form>