<h1>Edit Places</h1>

{{#each place}}
   <form action="/places/{{_id}}" method="POST">

  <label for="">Place Name</label>
  <input type="text" name="name" id="name">
  
  <label for="">Location Name</label>
  <input type="text" name="name" id="location">


 <button>Edit Place</button>
 
 </form>
{{/each}}